@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

  moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: grey;
}

.tagline {
	font-family: Arial, sans-serif;
}

.letterandarrow {
		position: absolute;
	background-image: url(../images/letterandarrow.svg);
	top: 180px;
	left: calc(50% - 160px);
	width: 320px;
	height: 400px;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-animation: letterandarrow-move 7.5s ease-in-out alternate infinite;
	animation: letterandarrow-move 7.5s ease-in-out alternate infinite;
}

@-webkit-keyframes letterandarrow-move {

	0% {
	transform: scale(1,1);
}

50% {
		transform: scale(0.9,0.9);
}

100% {
	transform: scale(1.025,1.025);
}

}

@keyframes letterandarrow-move {

	0% {
	transform: scale(1,1);
}

50% {
		transform: scale(0.9,0.9);
}

100% {
	transform: scale(1.025,1.025);
}

}

.moon {
	position: absolute;
	background-image: url(../images/moon.svg);
	top: 180px;
	left: calc(50% - 160px);
	width: 320px;
	height: 400px;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-animation: logo-move 7.5s ease-in-out alternate infinite;
	animation: logo-move 7.5s ease-in-out alternate infinite;
}

@-webkit-keyframes logo-move {

	0% {
	transform: scale(1,1);
	opacity: 0.25;
}

50% {
		transform: scale(1.05,1.05);
		opacity: 1;
}

100% {
	transform: scale(1,1);
	opacity: 0.25;
}

}

@keyframes logo-move {

	0% {
	transform: scale(1,1);
	opacity: 0.25;
}

50% {
		transform: scale(1.05,1.05);
		opacity: 1;
}

100% {
	transform: scale(1,1);
	opacity: 0.25;
}

}

.mmname {
	position: absolute;
	background-image: url(../images/mmname.svg);
	top: 500px;
	left: calc(50% - 160px);
	width: 320px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	transform-origin: center center;
	transition: all 250ms linear;
}

.mmname:hover {
transform: scale(1.25,1.25);
}

.nav-header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: black;
    text-align: center;
}

.nav-footer {
  background-color: black;
}

.nav-footer li {
  margin-right: 1.5rem;
}

.nav li {
  display: inline-block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color: #CCCCCC;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: #B2B2B2;
  color: black;
}

.menard-title {
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo-icon {
  max-width: 100px;
  margin: 0 auto;
  padding-top: .5em;
}

.media-section-title {
	text-align: center;
}

.media-section {
	position: absolute;
	top: 600px;
	background-color: #B2B2B2;
	border-style: solid;
	width: 100%;
}

.media-p {
	display: block;
}

.photography {
	text-align: center;
}

.photo-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 200px;
}

.illustration {
	text-align: center;
}

.illustration-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 200px;
}

.motion {
	text-align: center;
}

.motion-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 200px;
}

.btn-collapse-expand01 {
 background: none;
 border-style: none;
}

.btn-collapse-expand02 {
 background: none;
 border-style: none;
}

.btn-collapse-expand03 {
 background: none;
 border-style: none;
}

.panelborder {
	border-style: solid;
}

.panel01 {
  width: 250px;
  top: 50%%;
  max-height: 0px;
  background-color: grey;
  transform: translateY(-50%);
  transition: all 250ms linear;
  text-align: center;
  overflow: hidden;
	margin: 0 auto;
}

.panel01 p {
  margin: 0;
  padding: 0 0;
}

.panel02 {
  width: 250px;
  top: 50%%;
  max-height: 0px;
  background-color: grey;
  transform: translateY(-50%);
  transition: all 250ms linear;
  text-align: center;
  overflow: hidden;
}

.panel02 p {
  margin: 0;
  padding: 0 0;
}

.panel03 {
  width: 250px;
  top: 50%%;
  max-height: 0px;
  background-color: grey;
  transform: translateY(-50%);
  transition: all 250ms linear;
  text-align: center;
  overflow: hidden;
}

.panel03 p {
  margin: 0;
  padding: 0 0;
}

.js-collapse-expand01 {
  max-height: 10em;
  text-align: center;
}

.js-collapse-expand02 {
  max-height: 10em;
  text-align: center;
}

.js-collapse-expand03 {
  max-height: 10em;
  text-align: center;
}

.about-section {
  position: absolute;
  top: 900px;
  background-color: #B2B2B2;
  border-style: solid;
  width: 100%;
}

.contact-section {
  position: absolute;
  top: 1200px;
  background-color: #B2B2B2;
  border-style: solid;
  width: 100%;
}

@media only screen and (min-width: 20em) {

    .nav a {
      display: inline-block;
    }

    .nav li {
      display: inline-block;
    }
}

@media only screen and (min-width: 45em) {

	.logo-icon {
  margin: 0 auto;
  width: 80px;
}

    .menard-title {
        float: left;
    }

    .nav {
      text-align: right;
    }

    .nav a {
        display: inline-block;
    }

}

@media only screen and (min-width: 60em) {

    .menard-title {
        float: left;
    }

}
